*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(81, 55, 82);
    color: white;
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header {
    background-color: rgb(65, 16, 88);
    font-size: 15px;
    margin-bottom: 10px;
}
#overHeaderPanel{
    height: 30px;
    background-color: rgb(190, 190, 190);
}
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(190, 190, 190);
    height: 70px;
    width: 100%;
    color: black;
}
footer div{
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    font-size: 15px;
}
#nazad:hover{
    cursor: pointer;
}
#headPostavke{
    margin: 40px;
    padding: 20px;
    font-size: large;
}
#postavke{
    
}
#nazad{
    flex-direction: column;
}
.fa-backward{
    font-size: 30px;
    padding: 5px 22px 0 22px;
}