*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(81, 55, 82);
    color: white;
    font-family: "Poppins", "sans-serif";
    min-height: 100vh;
}

form{
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header h1{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card{
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px 0 3px 3px;
    margin: 10px;
}

.card-header{
    margin-left: 10px;
    width: 70%;
}
.card-body{
    margin-left: 25px;
    width: 70%;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: rgb(190, 190, 190);
    height: 70px;
    width: 100%;
    color: black;
}

footer div{
    display: flex;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    font-size: 15px;
}

#dodajZab, #danas{
    flex-direction: column;
}
#dodajZab:hover, #danas:hover{
    cursor: pointer;
}
.fa-plus-square{
    padding: 5px 35px 0 35px;
    font-size: 30px;
}
.fa-tasks{
    font-size: 30px;
    padding: 5px 15px 0 15px;
}
.trash-btn{
    background: #c94062 ;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 1rem;
    float: right;
    margin-top: -48px;
}